:root{

  /* Colors */

  --clr-gradientStart:hsl(6,100%,80%);
  --clr-gradientEnd:hsl(335,100%,65%);
  /* Neutral */

  --clr-paleBlue: hsl(243, 100%, 93%);
  --clr-grayishBlue: hsl(229,7%,55%);
  --clr-darkBlue: hsl(228,56%,26%);
  --clr-veryDarkBlue: hsl(229,57%,11%);

  --fs-normal: .875rem;

  --fw-normal: 400;
  --fw-bold: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
  font-weight: 400, 700;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;  
  min-height: 100vh;
  background-color: var(--clr-veryDarkBlue);

  
}

/* Container */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  gap: 1.875rem;
}
.flex{
  display: flex;
  gap: 1.875rem;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.file_container{
  background-color: var(--clr-darkBlue);
  padding: 2.5rem 8.313rem 2.5rem 2.5rem;
  border-radius: 10px 100px 10px 10px; 
  box-shadow: 0 50px 50px -25px hsla(0, 0%, 0%, 0.249);
}

.sub_file_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.sub_container{
  background-color: var(--clr-darkBlue);
  padding: 2.5rem;
  width: 33.75rem;
  border-radius: 10px;
  box-shadow: 0 50px 50px -25px hsla(0, 0%, 0%, 0.249);

}
.slider_container{
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  font-size: 12px;
  font-weight: var(--fw-bold);
  color: var(--clr-paleBlue);
}


/* Images & icons */

li{
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: .75rem .836rem;
  background-color: var(--clr-veryDarkBlue);
  border-radius: 10px;
}

.logo{
  margin-bottom: 2rem;
}
.img_bg_desktop{
  width:100%;
  position: absolute;
  bottom: 0;
  height: 55dvh;
  z-index: -1;
}

/* Right Container Items*/


.text{
  margin-bottom: 1.2rem;
  font-weight: var(--fw-normal);
  font-size: .875rem;
  color: var(--clr-paleBlue);
}
.text span{
  font-weight: var(--fw-bold);
}
.slider{
  background-color: hsla(229,57%,11%,50%);
  width: 100%;
  height: 20px;
  border-radius: 10px;  
  border: 1px solid hsla(229,57%,11%,50%);
  position: relative;
}
.gradient{
  width:73%;
  height: 13px;
  margin-top: 3px;
  margin-left: 3px;
  background-image:linear-gradient(to right, var(--clr-gradientStart),var(--clr-gradientEnd));
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.point{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 500px;
  margin-left: auto;
  margin-right: 1px;

}
.bubble{
  right: 0px;
  top: -125px;
  position: absolute;
  background-color: white;
  border-radius: 10px 10px 0 10px;
  padding:.75rem 1.75rem;

}
.bubble::after{
  content: "";
  display: block;
  border-top: 0px solid transparent;
  border-right: 25px solid white;
  border-bottom: 30px solid transparent;  
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: -25px;
}
.bubble_text{
  font-size: 12px;
  font-weight: var(--fw-bold);
  color: var(--clr-grayishBlue);
  display: flex;
  align-items: center;
  gap: .75rem;
  text-transform: uppercase;
}
.bubble_text span{
  font-size: 2.5rem;
  color: var(--clr-veryDarkBlue);
}

/* Media queries */

@media (max-width:57.938em) {
  .flex{
    gap: 1rem;
    flex-direction: column;
  }
  .container{
    width: 326px;
    margin: auto;
    min-height: 71.5vh;
  }
  .sub_container{
    margin: auto;
    width: 326px;
    padding: 2rem;
    text-align: center;

  }
  .file_container{
    width: 326px;
    padding: 2.5rem 7rem 2.5rem 2.5rem;
  }
  .bubble{
    top:55px;
    left:15%;
    right: initial;
    border-radius: 10px;


  }
  .bubble::after{
    display: none;
  }
 

}

@media (max-width:31.563em) {
  
  body{
    background-image: url(images/bg-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img_bg_desktop{
    display: none;
  }
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}